.card {
    margin: 1rem;
    border: 0px solid black;
    border-radius: .625rem;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;

    &:hover {
        transform: scale(1.07);
    }

    & > img {
        object-fit: fill;
        min-width: 18.75rem;
        min-height: 12.5rem;
        width: 100%;
    }

    &__info {
        margin-top: -9px;
        border-radius: .625rem;
        padding: 1.25rem;
        padding-top: 1.25rem;
        border: 1;

        & > h2 {
            font-size: 1.125rem;
            font-weight: 600;
        }

        & > h4 {
            font-size: .875rem;
            font-weight: 400;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
    }
}