.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    z-index: 100;
    width: 100%;
    top: 0;

    &__icon {
        object-fit: contain;
        height: 6.25rem;
        margin-left: 5rem;
    }

    &__center {
        display: flex;
        flex: 1;
        align-items: center;
        max-width: fit-content;
        padding: .625rem;
        height: 1.875rem;
        border: 1px solid lightgray;
        border-radius: 999px;

        & > input {
            border: none;
            width: 15.75rem;
            padding: .625rem;
            outline-width: 0;
        }
    }

    &__searchIcon {
        cursor: pointer;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15vw;
        margin-right: 5rem;
        cursor: pointer;
    }
}